body 
{
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #333;
    background-color: #FFF;
	width: 100%;
	height: 100%;
	margin: 0px;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	background: url(../img/background/bg1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
* 
{
    box-sizing: border-box;
}
body a 
{
    transition: all 0.5s ease 0s;
}
.localpadding .contect-padding .embed-responsive-4by3
{
	padding-bottom: 72%;
}
.mapimage .section-padding .container .p-mid-property
{
	font-size: 15px;
    line-height: 21px;
}
.upper-color
{   
	background: #C4E17F linear-gradient(to right, #C4E17F, #C4E17F 12.5%, #15AA85 12.5%, #0E9F80 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1 87.5%, rgb(98, 194, 228) 87.5%, rgb(98, 194, 228)) repeat scroll 0% 0%;
}
.localpadding
{
	padding: 0px;
}
.myfontstyle
{
	font-weight: 700;
	font-variant: small-caps;
	font-size: 17px;
}
.myfontstyle1
{
	font-variant: small-caps;
	font-size: 17px;
}
.p-mid-property
{
	font-size: 17px;
	font-family: "Montserrat",sans-serif;
}
/*Social-Header Code Start*/
header
{
	background-color: #16161D;
}
header 
{
    padding: 0px;
    z-index: 3;
    margin: 0px;
    display: block;
    position: relative;
    background-color: #16161D;
}
.fa-property
{
	padding: 10px;
	color: rgb(18, 165, 244);
}
.locat li
{
	font-size: 16px;
}
.localpadding .navbar 
{
    border: 0px solid transparent;
	background-color: #000;
}
.localpadding .clearfix .hearder-bar
{
	background-color: #000;
}
.hearder-bar
 {
    height: 43px;
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 3;
    background-color: #29262F;
}
.row-fluid 
{
    width: 100%;
	position: relative;
}
.row-fluid::before, .row-fluid::after 
{
    display: table;
    content: "";
}
.hearder-bar .social-icons-wrapper, .social-icons-wrapper 
{
    display: inline-block;
    width: auto;
    float: right;
}
.social
{
	margin-bottom: 0px;
	font-size: 13px;
	font-weight: 400;
	color: #736C83;
	line-height: 40px;
}
.share
{
	background-color: #A3C201;
	padding: 13px 14px 11px 13px;
}
.social-facebook
{
	background-color: #4863AE;
	padding: 13px 8px 11px 13px;
}
.social-googleplus
{
	background-color: #DD4B39;
	padding: 9px 3px 11px 8px;
}
.social-linkedin
{
	background-color: #0083A8;
	padding: 9px 8px 11px 8px;
}
.social-twitter
{
	background-color: #46C0FB;
	padding: 9px 8px 11px 8px;
}
.social-rss
{
	background-color: #FF7F25;
	padding:  9px 11px 11px;
}
.social-fsize
{
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}
.my-social-wrapper a:hover
{
	transform: rotateX(-25deg);
	box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.9);

}
.social-fsize:hover, .social-fsize:focus
{
	color: #fff;
	text-decoration: none;
}
.social-size
{
	padding-left: 5px;
	padding-right: 5px;
}
.localpadding .clearfix .hearder-bar .container
{
	padding-right: 0px;
    background: url("../img/logo/15Aug-img.png");
    background-repeat: no-repeat;
    background-color: #000;
}
/*Social-Header Code End*/

/*login code start*/
#login-dp
{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block
{
    font-size:12px    
}
#login-dp .bottom
{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons
{
    margin:12px 0    
}
#login-dp .social-buttons a
{
    width: 49%;
}
#login-dp .form-group
 {
    margin-bottom: 10px;
}
.btn-fb
{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover
{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw
{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover
{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px)
{
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*login code end*/

/*Menu-Header Code start*/
.navbar-myinverse
{
	background-color:#16161D;
}
.smooth-scroll 
{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0px);
    box-shadow: 0px 0px 1px transparent;
    backface-visibility: hidden;
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
}
.smooth-scroll::before 
{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #2098D1 none repeat scroll 0% 0%;
    transform: scaleX(0);
    transform-origin: 0px 50% 0px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.smooth-scroll:hover::before, .smooth-scroll:focus::before, .smooth-scroll:active::before 
{
    transform: scaleX(1);
}
.smooth-scroll:hover, .smooth-scroll:focus, .smooth-scroll:active 
{
    color: #FFF;
}
.about-li
{
	padding-top: 17px;
	padding-bottom: 18px;
}
/*Menu-Header Code End*/

/*-----------------------------------------contect Code Start------------------------------------------------------------*/
.about
{
	padding: 15px 15px;
    background-color: #000;
    margin-top: 15px;
	margin-bottom: 15px;
}
.about-title 
{
    font-size: 30px;
    line-height: 30px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: relative;
    font-weight: 700;
	color: #fff;
}
.about-span
{
	color: red;
}
.br-proprty
{
	color:gray;
}
.block-title 
{
    border-color: #457A13;
}
.block-title 
{
    font-size: 14px;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 15px;
    border-bottom: 2px solid #457A13;
}
.block-title span
{
    padding: 6px 12px 5px;
}
.block-title span
{
    line-height: 17px;
    display: inline-block;
    padding: 7px 12px 4px;
    background-color: #457A13;
    color: #FFF;
	font-family: "Montserrat",sans-serif;
	font-size: 17px;
}
.about .about-grids .about-info:hover  p
{
	color: #457A13;
	cursor: context-menu;
}
.aboutpic
{
	padding: 15px 10px;
	padding-bottom: 25px;
}
 .form_hover 
 {
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 240px;
}
.form_hover img 
{
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.form_hover .header 
{
    position: absolute;
    top: 197px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
}
.form_hover .blur 
{
    height: 240px;
    z-index: 5;
    position: absolute;
    width: 100%;
}
.form_hover .caption-text 
{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 240px;
    text-align: center;
    top: -20px;
    width: 100%;
}
.imagearea
{
	padding-bottom: 15px;
}
.first-image
{
	position: relative;
}
.about-span
{
	position: absolute;
	bottom: 0px; 	
}
/*----------------------------------------------------------contect Code End--------------------------------------------------*/

/*image hover data code*/
.bottom-data p 
{
    color: #fff;
    position: absolute;
    bottom: 15px;
    padding: 0px 10px;
    margin: 0px 0px;
    text-transform: uppercase;
    font-size: 13px;
}
.bottom-data .first 
{
    background-color: hsla(12, 100%, 49%, 0.84);
}
.bottom-data .second 
{
    background-color: rgba(16, 135, 221, 0.89);
}
.bottom-data .three 
{
    background-color: hsla(119, 93%, 16%, 0.87);
}
/**/

.mapimage
{
	background-color: rgba(0, 0, 0, 0.86); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.mapimge-property
{
	
}
.map .point 
{
    width: 12px;
    height: 19px;
    position: absolute;
    background: transparent url("../img/mappoint1.png") no-repeat scroll 0px 0px;
	color:red;
    cursor: pointer;
    z-index: 99;
}
.map 
{
    margin: 0px auto;
    position: relative;
    
}
/**/
.goho::before {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    content: "";
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}
/*Content Us Code Start*/
.contact-us-section 
{
    position: relative;
    width: 100%;
    background: transparent url("../img/background/bg2.jpg") no-repeat scroll center center / cover;
}
.contact-animate
{
	visibility: visible; 
	animation-name: fadeInDown;
}
.section-padding 
{
    padding: 46px 0px;
}
.map 
{
    margin: 2em 0px;
}
.map iframe 
{
    width: 100%;
    height: 300px;
    border: medium none;
}
.map-animate
{
	visibility: visible; 
	animation-duration: 800ms; 
	animation-delay: 3ms; 
	animation-name: zoomIn;
}
.contact-us-section::before 
{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}
*::after, *::before 
{
    box-sizing: border-box;
}
.section-title-left::after, .section-title::after, .single-pricing-table .pricing-title h2::after 
{
    background: #C4E17F linear-gradient(to right, #C4E17F, #C4E17F 12.5%, #15AA85 12.5%, #0E9F80 25%, #FECF71 25%, #FECF71 37.5%, #F0776C 37.5%, #F0776C 50%, #DB9DBE 50%, #DB9DBE 62.5%, #C49CDE 62.5%, #C49CDE 75%, #669AE1 75%, #669AE1 87.5%, #62C2E4 87.5%, #62C2E4) repeat scroll 0% 0%;
}
.section-title::after 
{
    bottom: -20px;
    content: "";
    height: 4px;
    left: 0px;
    margin: 0px auto;
    position: absolute;
    right: 0px;
    width: 100px;
}
*::after, *::before 
{
    box-sizing: border-box;
}
.contact-title, .contact-subtitle 
{
    color: #FFF;
}
.section-title 
{
    font-size: 30px;
    line-height: 30px;
    color: #333;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: relative;
	font-weight: 700;
}
.text-center 
{
    text-align: center;
}
.text-justify
{
	text-align: justify;
	line-height: 145%;
}
.contact-subtitle 
{
    position: relative;
}
.contact-title, .contact-subtitle 
{
    color: #FFF;
}
p 
{
    margin: 0px 0px 10px;
}
.row 
{
    margin-right: -15px;
    margin-left: -15px;
}
.row::before 
{
    display: table;
    content: " ";
}
.contact-form-section 
{
    position: relative;
    padding: 0px 5px;
}
.contact-mt-50 
{
  
}
.center 
{
    text-align: center;
    padding-bottom: 15px;
}
.center h2 
{
    color: #A3C201;
	font-weight: 700;
	font-size: 36px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.contact-left ul 
{
    padding: 0px;
}
.contact-left ul li
 {
    display: block;
    font-size: 1em;
    color: #868686;
}
.contact-left ul li span 
{
    width: 15px;
    height: 15px;
    margin-right: 0.5em;
}
.glyphicon3 
{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.bgco
{
	background-color: rgba(49, 61, 76, 0.86);
	padding-bottom: 20px;
	padding-top: 20px;
}
.high
{
	color:#736C83;
	font-weight: 700;
}
.locat
{
	list-style-type: none;
	padding-left: 37px;
	line-height: 1;
}
.contact-form-icon 
{
    position: relative;
}
.sr-only 
{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px none;
}
.fa 
{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    font-size: inherit;
    text-rendering: auto;
}
label 
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.contact-form-icon .fa 
{
    color: #FFF;
    padding: 14px 12px;
    pointer-events: none;
    position: absolute;
}
.contact-form-icon input, .contact-form-icon textarea 
{
    padding-left: 35px;
}
.form-animate
{
	visibility: visible; 
	animation-duration: 600ms; 
	animation-delay: 0ms; 
	animation-name: fadeInLeft;
}
.message-box-animate
{
	visibility: visible;
	animation-duration: 300ms;
	animation-delay: 100ms;
	animation-name: fadeInRight;	
}
.form-control
{
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 2px;
    color: #FFF;
    font-size: 13px;
    font-weight: normal;
    height: 42px;
    line-height: 21px;
    padding: 10px;
    transition: all 0.3s ease-in-out 0s;
    letter-spacing: 0.1rem;
}
.contact-form-icon 
{
    position: relative;
}
.form-group 
{
    margin-bottom: 20px;
}
.contact-form-icon input, .contact-form-icon textarea 
{
    padding-left: 35px;
}
textarea.form-control 
{
    height: auto;
}
.btn-contact .fa 
{
    padding-right: 5px;
}
.contact-form-section button.btn-contact 
{
    background: #FFA800 none repeat scroll 0% 0%;
    padding: 8px 2em;
    font-size: 1.3em;
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    font-weight: 400;
    border: 2px solid #FFA800;
    transition: all 0.5s ease 0s 0% 0%;
}
.contact-form-section button.btn-contact:hover
{
	text-decoration: none;
    background: transparent none repeat scroll 0% 0%;
	border: 2px solid #FFA800;
    color: #FFA800;
}
.btn-block 
{
    display: block;
    width: 100%;
}
.fa-send::before, .fa-paper-plane::before 
{
    content: "ï‡˜";
}
.row::after
 {
    clear: both;
}
/*Content Us Code End*/

/*Footer Code Start*/
/* BackToTop Button Css */
#scroll 
{
    position: fixed;
    right: 10px;
    bottom: 14px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #3498db;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 100%;
    background: url(../img/up.png);
    background-repeat: no-repeat;
}
#scroll span 
{
  
}
#scroll:hover 
{
    background: url(../img/up-hover.png);
    background-repeat: no-repeat;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
/* BackTotop Button Css*/
.footer-distributed 
{
    background-color:#0D0E0F;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
}
.footer-distributed .footer-left 
{
    
}
.footer-distributed .footer-links 
{
    color: #FFF;
    margin: 0px 0px 10px;
    padding: 0px;
}
.footer-distributed .footer-links a 
{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-linkss 
{
    color: #FFF;
    margin: 0px 0px 10px;
    padding: 0px;
	text-align:center;
}
.footer-distributed .footer-linkss a 
{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name 
{
    color: #8F9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
}
.footer-distributed .footer-right 
{
    
}
.member ul 
{
    padding: 0px;
    margin: 0px;
}
.member li 
{
    display: inline-block;
    width: 30%;
    margin: 0.1em 0px;
}
a 
{
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
    color: #525252;
}
.vission ul
{
	padding: 0px;
    margin: 0px;
}
.vission li 
{
    display: inline-block;
    width: 30%;
    margin: 0.1em 0px;
	position: relative;
    overflow: hidden;
}

.digitalindia li a i 
{
    position: absolute;
    z-index: 100;
    font-size: 180%;
    color: #000;
    top: 10px;
    left: 10px;
}
ul.our-theam li a img 
{
    transition: all 0.3s ease 0s;
}
li 
{
	list-style-type: none;
}
ul.our-theam li:hover img, ul.our-theam li a:focus img 
{
    transform: scale(1.3);
}
.footer-distributed h4 
{
    font-size: 20px;
	color: #F0F0F0;
	font-weight: 700;
}
.footer-bottom 
{
    padding: 7px 0px;
	background: #000 none repeat scroll 0% 0%;
}
.footer-bottom .container div.bottom-block 
{
	display: inline-block;
    padding: 0px 20px;
    color: #AAAFBA;
    font-size: 100%;
    font-weight: 300;
    text-align: left;
	line-height: 16px;
	text-align: center;
	padding-top: 6px;
}
.footer-bottom .container div.bottom-block span 
{
    display: block;
    font-size: 100%;
    color: #656973;
    font-weight: 400;
    padding-bottom: 3px;
}
.container::before, .container::after 
{
    display: table;
    line-height: 0;
    content: "";
}
*, *::before, *::after 
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.footer-left .footer-links a
{
	font: 16px sans-serif;
}
/*Footer Code End*/
